body {
    font-family: "Arial";
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EEE;
}

h1 {
    margin: 0;
    font-size: 20px;
}
h2{
    margin: 0;
    font-size: 16px;
    padding: 5px 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #FFF;
    padding: 5px;
}
header img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}


table {
    text-align: left;
    position: relative;
    border-collapse: collapse;

    position: sticky;
    top: 0;
    z-index: 10;
}

th, td {
    border-bottom: solid 1px #333;
    border-right: solid 1px #333;
    text-align: center;
    padding: 0 5px;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    border-bottom: solid 1px #000;
}

#hospitals {
}

#header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#content {
    height: 100vh;
    overflow-y: scroll;
    /*padding: 111px 0;*/
}

#picker {
    /*background-color: #EEE;*/
    /*width: 100%;*/
}
#picker select {
    font-size: 15px;
    color: #000;
    background-color: #FFF;
}

.header-links {
    display: flex;
    align-items: flex-start;
}

.header-links .link {
    align-self: center;
    background-color: #FFF;
    padding: 2px;
    border-radius: 15px;
    margin: 0 5px;
}

.header-links .link a {
    display: inline-block;
    text-decoration: none;
    color: cornflowerblue;
}

.header-links .link a img {
}
.header-links .link a i {
    color: #000;
    font-size: 20px;
    vertical-align: bottom;
}
.header-links a.text-link {
    display: none;
}


/* mobile devices */
@media (max-width:992px) {

    h1 {font-size: 13px}
    h2 {font-size: 10px}

    header {
        padding: 10px 10px 10px 10px;
        display: block;
    }
    header select {
        font-size: 16px;
        padding: 5px;
    }

    .header-links .link {
        padding: 2px;
        border-radius: 15px;
    }
    .header-links .link a img, .header-links .link a i {
        font-size: 21px;
        padding-right: 0;
        vertical-align: text-top;

    }
    .header-links .data-link {
        font-size: 10px;
    }
    .github-link {
        font-size: 12px;
    }


    .header-links .link .text-link {
        display: none;
    }

    .chart-icon {
        font-size: 10px;
    }

    .github-link a#github-text-link { display: none; }


    #content {}
    #picker {
        background-color: #777;
    }

    td {
        font-size: 10px;
    }




}

@media (max-width:992px) and (orientation: landscape) {
    header {
        display: flex;
        padding: 5px;
    }
    #header-content {
       display: flex;

    }
    #picker {
        display: flex;
        justify-content: flex-end;
    }
}



/* desktop computer screens */
@media (min-width:993px){

    #header-content {
        width: 50%;
    }

}

/* tablet */
@media (min-width:760px) and (max-width:1024px){

}